.gradle/
.idea/
local.properties
dist/
build/
*.apk
*.aab
*.apks
*.idsig
*.mapping
*.jks
*.keystore
*.p12
signing.properties
*.dpapi
*RECOVERY*.txt
**/build/
*.iml
*.jks
*.keystore
keystore.properties
